{% extends "base.njk" %}

{% block main %}

<div id="fullpage">
	<h1>Stop</h1>
	<h2>Coding<br>
	Interviews</h2>
	{{ content | safe }}
</div>

{% endblock %}

{% block script %}
<script>

ready(() => {
</script>
{% endblock %}
