<ol>
<li>Coding Interview does not represent real-life project scenarios.&nbsp;<a href="{{ site.pageOfSrc("/1-not-real-life.md").url }}">‣</a></li>
<li>Coding Interview does not measure problem-solving capabilities or engineering capacity.&nbsp;<a href="{{ site.pageOfSrc("/2-not-problem-solving.md").url }}">‣</a></li>
<li>Coding Interview simulates highly unrealistic and unnecessary stress.&nbsp;<a href="{{ site.pageOfSrc("/3-unnecessary-stress.md").url }}">‣</a></li>
<li>Coding Interview does not address communication, commitment and humility.&nbsp;<a href="{{ site.pageOfSrc("/4-not-communication.md").url }}">‣</a></li>
<li>Coding Interview is superficially inefficient and unreliable.&nbsp;<a href="{{ site.pageOfSrc("/5-inefficient.md").url }}">‣</a></li>
</ol>