<dl>
    <dt>Coding Interview /def/</dt>
    <dd>
    Typically, a job interview technique to assess potential employees where the main focus is on
    solving several algorithmic problems in a short time, while the quality of the solution,
    communication, and other candidate's skills are ignored.
    </dd>
</dl>

<hr>

<ol>
<li>Coding Interview does not represent real-life project scenarios.&nbsp;<a href="{{ site.pageOfSrc("/1-not-real-life.md").url }}">‣</a></li>
<li>Coding Interview does not measure problem-solving capabilities or engineering capacity.&nbsp;<a href="{{ site.pageOfSrc("/2-not-problem-solving.md").url }}">‣</a></li>
<li>Coding Interview simulates highly unrealistic and unnecessary stress.&nbsp;<a href="{{ site.pageOfSrc("/3-unnecessary-stress.md").url }}">‣</a></li>
<li>Coding Interview does not address communication, commitment and humility.&nbsp;<a href="{{ site.pageOfSrc("/4-not-communication.md").url }}">‣</a></li>
<li>Coding Interview is superficially inefficient and unreliable.&nbsp;<a href="{{ site.pageOfSrc("/5-inefficient.md").url }}">‣</a></li>
</ol>

<hr>

<p>
    <b>Nota bene:<b><br>
    An interview for a software engineer <i>may</i> contain coding bits as a means of communication,
    like sketching on a blackboard.
</p>